<mat-form-field class="example-chip-list" [formGroup]="formGroup">
  <mat-label>{{ label }}</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection" [formControlName]="formControlName">
    <mat-chip *ngFor="let chip of list" [selectable]="selectable"
              [removable]="removable" (removed)="remove(chip)">
      {{chip[objectKey]}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input [placeholder]="label + ' mit &quot;Enter&quot; oder &quot;,&quot; trennen'"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>
