<div class="settings-data-container" *ngIf="savedSkills">
  <h4 class="settings-data-header">Optionale Daten</h4>

  <form [formGroup]="optionalDataFormGroup">
    <app-input-field [label]="'CompanyID'" [formControlName]="'companyId'" [formGroup]="optionalDataFormGroup"></app-input-field>
    <app-input-field-chips [label]="'Schlüsselskills'"
                           [formControlName]="'skills'"
                           [formGroup]="optionalDataFormGroup"
                           [chipsList]="savedSkills"
                           (changeInputValueEvent)="changedSkills($event)"
                           [objectKey]="'skill'"></app-input-field-chips>
    <app-input-field [label]="'Berufliche Position'"
                     [formControlName]="'professionalPosition'"
                     [formGroup]="optionalDataFormGroup"></app-input-field>
    <app-textarea [label]="'Persönliche Beschreibung'" [formControlName]="'personalDescription'"
                  [textareaHeight]="'150'" [formGroup]="optionalDataFormGroup"></app-textarea>

    <button color="primary" (click)="saveOptionalData()" mat-flat-button>Speichern</button>
  </form>
</div>
