.content-wrapper {
  .settings-container {
    display: flex;
    flex-wrap: wrap;

    &--profile-picture {
      flex: 1;
      min-width: 300px;
    }

    &--company {
      flex: 1;
      min-width: 700px;
    }

    &--personal-data {
      flex: 2;
      min-width: 100%;
    }

    &--optional-data {
      flex: 2;
      min-width: 100%;
    }
  }
}
