<div class="profile-picture-container mat-elevation-z10">
  <span class="username">{{ username }}</span>
</div>
<div class="profile-stats-container">
  <div class="profile-stats-container--created-projects">
    <span>Erstellte Projekte: <span class="counter-stat">5</span></span>
  </div>
  <div class="profile-stats-container--created-projects">
    <span>Erstellte Tickets: <span class="counter-stat">5</span></span>
  </div>
  <div class="profile-stats-container--created-projects">
    <span>Erstellte Fragen: <span class="counter-stat">5</span></span>
  </div>
  <div class="profile-stats-container--created-projects">
    <span>Geschriebene Antworten: <span class="counter-stat">5</span></span>
  </div>
</div>
