@import "../../../../utils/variables";

.profile-picture-container {
  align-items: center;
  background-color: $primary;
  border-radius: 3px;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-bottom: 20px;
  width: 300px;

  span {
    color: darken($primary, 25);
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
  }
}

.profile-stats-container {
  width: 300px;

  &--created-projects {
    border-bottom: 1px solid $primary;
    font-weight: 300;
    margin-bottom: 10px;

    .counter-stat {
      font-weight: bold;
      float: right;
    }
  }
}
