@import "../../../../utils/variables";

.settings-data {
  &-container {
    &:first-child {
      margin-right: 10px;
    }

    i {
      display: block;
    }

    button {
      float: right;
    }
  }

  &-header {
    border-bottom: 1px solid $primary;
    color: darken($primary, 25);
  }
}
